.App {
  background-color: #3a4d74;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  height: auto;

}
.App .main{
  display: flex;
  width: 100rem;
  background-color: blanchedalmond;


}
.App .main .home-login{
  height: 100vh;
}
.App .main .h1{
  color: black;
  margin-left: 11rem;
  font-size: 3rem;
  margin-top: 3rem;
  text-transform: capitalize;
}
.chat-list {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    background-color: blanchedalmond;
}