.App {
  background-color: #282c34;
  color: white;
  display: flex;
  min-height: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 1rem;

}
.App .main{
  display: flex;
  width: 100rem;
  background-color: blanchedalmond;


}
.App .main .home-login{
  height: 100vh;
}
.App .main .h1{
  color: black;
  margin-left: 11rem;
  font-size: 3rem;
  margin-top: 7rem;
  text-transform: capitalize;
}