.mensajeria {
    display: flex;
    gap: 0.1rem;
}

.chat-list {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    background-color: blanchedalmond;
}
.users {
    display: flex;
    flex-direction: column;
    width: 10rem;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: none;
    border-width: 0.1rem;
    background-color: #282c34;
    text-transform: capitalize;
}
.users .avatar {
    border-radius: 50%;
}
.users .username {
    font-size: 1.2rem;
}

.chat-window {
    background-color: blanchedalmond;
    width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.1rem;
    border-color: white;
}

.chat-window .message-in-in {
    background-color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    min-height: 30rem;
    min-width: 30rem;
    margin-top: 2rem;
    margin-left: 2rem;
    height: auto;
    height: auto;
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.2rem;
    padding: 1rem;
}
.chat-window .message-in-in .individual {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.individual-in {
    color: #1bd641;
}
.individual-out {
    color: red;
}

.chat-window .message-in-in .individual .date {
    color: #051308;
    font-size: 1rem;
    margin-right: 0.6rem;
}

.chat-window .message-out .message-out-form {
    display: grid;
    margin-left: 2rem;
    margin-top: 0.5rem;
    grid-template-columns: 38rem;
    grid-template-rows: 14rem 2rem;
}

.chat-window .message-out .message-out-form .text-area {
    font-size: 1.5rem;
}

.chat-window .message-out .message-out-form button {
    font-size: 1.5rem;
    width: 6rem;
    margin-left: 32rem;
}
